@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap')

.scrape-btn 
  margin: 0 auto
  top: 20%
  z-index: 100
.app-container
  background-color: black
  .grad-head-img
    margin-top: 0
    position: fixed
.scraper-title
  font-family: 'Nunito', sans-serif
  color: #0A0049
  font-weight: bold
  font-size: 36px
  padding-left: 40px
  margin-top: 100px
  position: absolute