@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap')

.scrape-btn 
  margin: 0 auto
  top: 40%
  z-index: 100
.app-container
  background-color: black
  .grad-head-img
    margin-top: 0
    position: fixed
.scraper-title
  font-family: 'Nunito', sans-serif
  color: #0A0049
  font-weight: bold
  font-size: 36px
  padding-left: 40px
  margin-top: 100px
  position: absolute
.dataDisplay
  width: 100%
  .dataDisplay--p
    font-family: 'Nunito', sans-serif
    font-weight: bold
    display: block
    margin: 5% 40% 0
    padding: 0
    width: 100%
    font-size: 72px
    

.circle
  margin: 0 auto
.circle2
  margin: -35.5% auto